* { box-sizing: border-box; margin: 0; padding: 0; font-family: 'Inter', sans-serif; }
body {
    background-color: #0f0f0f;
}
.barra-navegacion {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 56px;
    padding: 0 16px;
    background: transparent;
    color: #fff;
}
.barra-navegacion .contenedor-hamburguesa {
    display: flex;
    align-items: center;
    flex-direction: row;
}

.barra-navegacion .hamburguesa {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 8px;
    width: 23px;
    height: 15px;
    cursor: pointer;
}
.barra-navegacion .hamburguesa .barra {
    width: 80%;
    height: 2px;
    background: #fff;
    border-radius: 1px;
}
.barra-navegacion .contenedor .logo {
    padding: 18px 14px 18px 14px;
    fill: #fff;
}

.barra-navegacion .busqueda {
    display: flex;
    align-items: center;
}
.barra-navegacion .busqueda .formulario-busqueda {
    width: 28vw;
    height: 2.3rem;
    padding: 12px;
    border: none;
    background: #1b1b1d;
    border-radius: 45px 0 0 45px ;
    outline: 1px solid #585858;
    padding-left: 16px;
}

.icono-busqueda-1 {
    display: none;
}

.barra-navegacion .busqueda input {
    width: 100%;
    border: none;
    background: transparent;
    outline: none;
    color: #fff;
    font-size: 16px;
}
.barra-navegacion .busqueda .icono-busqueda {
    width: 25px;
    height: 25px;
    fill: #fff;
}
.barra-navegacion .busqueda input:focus {
    outline: 0px solid #0066ff;
}
.barra-navegacion .busqueda input::placeholder {
    color: #585858;
    font-size: 16px;
}
.barra-navegacion .busqueda button {
    height: 2.4rem;
    width: 4rem;
    padding: 0px 10px 0px 10px;
    border: 1px solid #585858;
    border-radius: 0 50px 50px 0;
    cursor: pointer;
    background-color: #292929 ;
    display: flex;
    justify-content: center;
    align-items: center;
}
.barra-navegacion .formulario-busqueda {
    display: flex;
    align-items: center;
}

.barra-navegacion .info-usuario {
    display: flex;
    align-items: center;
    justify-content: center;
}
